parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property BrokeYourBike\\\\HttpEnums\\\\HttpMethodEnum\\:\\:\\$value\\.$#"
			count: 1
			path: src/Client.php

		-
			message: "#^Access to undefined constant BrokeYourBike\\\\HttpEnums\\\\HttpMethodEnum\\:\\:POST\\.$#"
			count: 3
			path: src/Client.php

